
 @font-face{
    font-family: myfont;
   src: url(fonts/static/Figtree-ExtraBold.ttf);
 }
:root{
    --yellow:hsl(47,83%,63%);
    --white:hsl(0,0%,100%);
    --grey:hsl(0,0%,50%);
    --black:hsl(0,0%,7%)

}
body{
    margin: 0;
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--yellow);

}
.card{
    max-width: 350px;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 10px 15px;
}
.card-img img{
    width: 100%;
    border-radius: 20px;
}
.card-img{
    padding: 20px;
}
.card-body, .card-footer{
    padding: 20px;

}
button{
    padding: 8px 18px;
    background: hsl(47,83%,63%);
    border-radius: 5px;
    outline: none;
    border: none;
    font-style: 900;
}
.card-body p {
    color: var(--grey);
}
.card-section button{
    margin-bottom: 10px;
}
.card-body h2{
    margin-bottom: 15px;
}
.card-section {
    padding:0 20px;
}
.card-footer img{
    width: 40px;
    margin-right: 10px;
}
.avatar{
    display: flex;
    align-items: center;
}